{% extends "layout.html" %}
{% block content %}
    <div class="site-header-logo">
        <h1 class="text-center">
            Home
        </h1>
    </div>

    <div class="row p-4">
        <div>
            <form class="row m-auto" style="margin: 0 auto;" method="POST" action="{{ url_for('home') }}">
                <div class="col-5 form-outline mb-4">
                    <input type="text" id="city" name="city" class="form-control" placeholder="Enter a city name" />
                    <label class="form-label" for="city">City</label>
                </div>

                <div class="col-5 form-outline mb-4">
                    <input type="text" id="country" name="country" class="form-control"
                        placeholder="Enter a country name" />
                    <label class="form-label" for="country">Country</label>
                </div>

                <div class="col-2">
                    <button type="submit" class="btn btn-primary"
                        style="padding-left: 1rem; padding-right: 1rem; width: 100%;">Submit</button>
                </div>
            </form>
        </div>
        <div class="alert alert-{{  trigger  }} alert-dismissible fade show" role="alert">
            {{ msg }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% if show_graphs==True %}
        <div class="row m-auto p-2">
            <div class="col-sm-6">
                <div class="card m-auto" data-aos="fade-right">
                    <div class="card-body">
                        <div id="chart1"></div>
                        <p class="card-text">
                            Heat index (The temperature a human feels) is positively correlated to heat stress. 
                            The heat index time series shows a trend that's 
                            {% if slope_hi >= 0 %}
                            increasing, so follow the given warning.
                            {% else %}
                            decreasing, but remember to remain cautious.
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card m-auto" data-aos="fade-left">
                    <div class="card-body">
                        <div id="chart2"></div>
                        <p class="card-text">
                            Soil moisture deficit is the difference between soil's water content and the possible
                            amount of water it can hold. It's used to predict droughts. The SMD time series 
                            shows a trend that's 
                            {% if slope_sm >= 0 %}
                            increasing, so follow the given warning.
                            {% else %}
                            decreasing, but remember to remain cautious.
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-auto p-2">
            <div class="col-sm-6">
                <div class="card m-auto" data-aos="fade-right">
                    <div class="card-body">
                        <div id="chart3"></div>
                        <p class="card-text">
                            The forest fire index estimates the risk of forest fires based 
                            on moisture information of three different soil layers. A value closer
                            to 1 means there's a greater risk a forest fire may occur.
                            The forest fire index time series shows a trend that's 
                            {% if slope_ff > 0 %}
                            increasing, so follow the given warning.
                            {% else %}
                            decreasing, but remember to remain cautious.
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card m-auto" data-aos="fade-left">
                    <div class="card-body">
                        <div id="chart4"></div>
                        <p class="card-text">
                            This air quality time series shows the change in atmospheric
                            gas density over time. It shows the relationships between CO, NO2, and 
                            O3. See the given warning message for an interpretation of the time series
                            and next steps.
                            {# {% if slope_hi > 0 %}
                            increasing, so follow the given warning.
                            {% else %}
                            decreasing, but remember to remain cautious.
                            {% endif %} #}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
<!-- plotly CDN -->

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
    var graphs1 = {{ graph1JSON | safe}};
    Plotly.plot("chart1", graphs1, {});

    var graphs2 = {{ graph2JSON | safe}};
    Plotly.plot("chart2", graphs2, {});

    var graphs3 = {{ graph3JSON | safe}};
    Plotly.plot("chart3", graphs3, {});
    
    var graphs4 = {{ graph4JSON | safe}};
    Plotly.plot("chart4", graphs4, {});
</script>

{% endblock %}