{% extends "layout.html" %}
{% block content %}
<div class="site-header-logo">
    <section class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-6" style="align-items: center;
                    display: flex;
                    justify-content: center;">
                    <img src="static/img/neuron-large.png"
                        class="img-fluid" alt="Large neuron icon">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form method="POST" action="{{ url_for('login') }}">
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input type="text" id="username" name="username" class="form-control form-control-lg"
                                placeholder="Enter your username" />
                            <label class="form-label" for="form3Example3">Username</label>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-3">
                            <input type="password" id="password" name="password" class="form-control form-control-lg"
                                placeholder="Enter password" />
                            <label class="form-label" for="form3Example4">Password</label>
                        </div>

                        <div class="text-center text-lg-start mt-4 pt-2">
                            <button type="submit" class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                        </div>
                    </form>
                    <a href="{{  url_for('signup')  }}" style="color:black; text-decoration: none;">Sign Up</a>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}