{% extends "layout.html" %}
{% block content %}
    <div class="site-header-logo">
        <section class="vh-100">
            <div class="container-fluid h-custom">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-md-9 col-lg-6 col-xl-6" style="align-items: center;
                        display: flex;
                        justify-content: center;">
                        <img src="static/img/neuron-large.png" class="img-fluid" alt="Large neuron icon">
                    </div>
                    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                        <form method="POST" action="{{ url_for('signup') }}">
                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <input type="text" id="username" name="username" class="form-control form-control-lg"
                                    placeholder="Enter your username" />
                                <label class="form-label" for="form3Example3">Username</label>
                            </div>

                            <!-- Password input -->
                            <div class="form-outline mb-3">
                                <input type="password" id="password" name="password" class="form-control form-control-lg"
                                    placeholder="Enter password" />
                                <label class="form-label" for="form3Example4">Password</label>
                            </div>

                            <div class="form-outline mb-3">
                                <input type="password" id="password" name="password" class="form-control form-control-lg"
                                    placeholder="Enter City Name" />
                                <label class="form-label" for="form3Example4">City</label>
                            </div>

                            <div class="form-outline mb-3">
                                <input type="password" id="password" name="password" class="form-control form-control-lg"
                                    placeholder="Enter Country Name" />
                                <label class="form-label" for="form3Example4">Country</label>
                            </div>

                            <div class="form-outline mb-3">
                                <input type="number" id="password" name="password" class="form-control form-control-lg"
                                    placeholder="Enter Age" />
                                <label class="form-label" for="form3Example4">Age</label>
                            </div>

                            <div class=" mb-3">
                                <ul style="column-count: 2; column-gap: 2rem; list-style: none;    margin: 0; padding: 0;">
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="check1" id="check1">
                                            <label class="form-check-label" for="check1">
                                                Respiratory Disease?
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" name="check2"
                                                id="check2">
                                            <label class="form-check-label" for="check2">
                                                Obesity?
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" name="check3"
                                                id="check3">
                                            <label class="form-check-label" for="check3">
                                                >60?
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="check4" id="check4">
                                            <label class="form-check-label" for="check4">
                                                Diabetes?
                                            </label>
                                        </div>
                                    </li>
                                    <!-- <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" name="check5"
                                                id="check5">
                                            <label class="form-check-label" for="check5">
                                                Default
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" name="check6"
                                                id="check6">
                                            <label class="form-check-label" for="check6">
                                                Default
                                            </label>
                                        </div>
                                    </li> -->
                                </ul>
                            </div>

                            <div class="text-center text-lg-start mt-4 pt-2">
                                <button type="submit" class="btn btn-primary btn-lg"
                                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Sign Up</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}